footer.footerAbout
    img.footer-img-about(src='/img/site/logo.png' alt='')
    div(class='footer__social-overview')
        a(href='#')
            svg.footer-icon-footer
                use(xlink:href='/img/site/sprite.svg#icon-facebook')
        a(href='#')
            svg.footer-icon-footer
                use(xlink:href='/img/site/sprite.svg#icon-instagram')
        a(href='#')
            svg.footer-icon-footer
                use(xlink:href='/img/site/sprite.svg#icon-tiktok')
    div(class='footer__links-overview')
        a(href='/home') Home
        a(href='#top') Remedies
        a(href='/about') About us
