a(name='top')
nav.aboutNav
    img.aboutNav-image-overview(src='/img/site/icon.png' alt='Nettles Herbs main logo')
    h3.aboutNav-header-overview Nettles Herbs
    .aboutNav-links-overview
    ul.aboutNav-list-overview
        li.aboutNav-list-item
        a(href='/') Home
        li.aboutNav-list-item
        a(href='/overview') Remedies
        li.aboutNav-list-item
        a(href='/about') About
    