doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon' href='./img/site/icon.png' type='image/x-icon')
    link(rel='stylesheet' href='/css/style2.css')
    script(src='/public/js/index.js' defer)
    
    title Nettles Herbs - About Us
  body
    a(name='top')
    .containerAbout
      nav.aboutNav
        img.aboutNav-image(src='/img/site/icon.png' alt='Nettles herb main logo')
        h3.aboutNav-header Nettles Herbs
        .aboutNav-links
          ul.aboutNav-list
            li.aboutNav-list-item
              a(href='/home') Home
            li.aboutNav-list-item
              a(href='/products') Remedies
            li.aboutNav-list-item
              a(href='#') About
      section.aboutHeader
        .aboutHeader-gallery
          img.aboutHeader-img(src='/img/site/about-header.jpg' alt='Picture of Tabi')
        .aboutHeader-contentBox
          h1.aboutHeader-title Who we are
          h4.aboutHeader-text
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
            | nisi in modi optio tempore nobis fugiat iste incidunt atque
            | architecto! Lorem ipsum dolor sit amet consectetur adipisicing elit.
            | Facere alias sit doloremque magni voluptatibus! Neque illo aliquid
            | est ipsa quibusdam. Perspiciatis, molestias placeat sit consectetur
            | optio laboriosam. Voluptatum distinctio voluptates numquam velit
            | fugiat suscipit omnis ipsam sunt accusamus odio voluptatem, sint eos
            | aliquam vero, quibusdam beatae corrupti minus ad ab!
            br
            br
            | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt,
            | tenetur nobis. In modi quibusdam incidunt laborum, repellendus unde
            | provident porro obcaecati tempora? Ut ipsa ipsum qui eaque quae
            | tempora, nostrum ad corrupti quisquam aspernatur officia reiciendis
            | aliquam aperiam quasi tenetur repellendus itaque fugiat Lorem ipsum
            | dolor, sit amet consectetur adipisicing elit. Tenetur vel ea totam
            | voluptates, consectetur dolorum velit molestias praesentium modi
            | atque? necessitatibus rem aliquid assumenda nulla earum molestiae.
            svg.about-icon-header
              use(xlink:href='img/site/sprite.svg#icon-heart')
      section.aboutPhilo
        h2.aboutPhilo-header Philosophy
        .aboutPhilo-contentBox
          .aboutPhilo-contentBox-1
            h3.aboutPhilo-contentBox-title Stuff
            p.aboutPhilo-contentBox-text
              | Lorem ipsum dolor sit amet consectetur adipisicing elit.
              | Consectetur possimus vitae quibusdam illum doloremque cupiditate
              | dicta, quidem dolorem adipisci libero dolorum modi at commodi.
              | Modi exercitationem sapiente officia mollitia at tempore
              | obcaecati, necessitatibus accusamus velit repellendus consequatur
              | unde id quia ipsam repudiandae impedit eveniet molestiae molestias
              | excepturi totam reprehenderit. Tempore. Lorem ipsum dolor sit amet
              | consectetur adipisicing elit. Veniam rem repellat perspiciatis
              | minus corporis excepturi iure pariatur at dignissimos accusantium
              | vero commodi dolor, illo beatae in nemo ipsam explicabo,
              | repudiandae maiores laboriosam hic eius! Minima veniam illo,
              | ratione quia minus quo rem quod corrupti ad modi, nam officiis
              | consequuntur incidunt.
              br
              br
              | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime
              | odio placeat architecto eligendi tenetur recusandae libero,
              | perferendis amet quae laborum ipsa maiores, facilis dolore neque
              | quam, temporibus porro culpa aspernatur iusto consequatur. Vel at
              | atque aut dolorum dolor. Sint expedita et natus rerum, aliquam
              | error. Illo deserunt corrupti qui nam quisquam numquam ipsam quasi
              | facilis quibusdam aliquam quia, suscipit non nihil necessitatibus
              | eveniet aliquid modi tempore nemo laudantium molestias? Veritatis
              | facilis voluptate eos, et harum facere nam rem, temporibus optio
              | delectus fugit libero, iure totam ab quae? Laborum, aliquid
              | fugiat. Aliquid, laborum fugit. Iure nesciunt quod ipsum?
              | Possimus, quibusdam quis.
              br
              br
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              | Repellendus, veritatis. Doloremque, aliquid eos! Minus voluptas
              | culpa, adipisci voluptatem placeat at officia, tempore cum
              | repellendus expedita sed necessitatibus nemo a animi! Nihil,
              | facilis? Inventore rem repellat qui voluptatem consectetur,
              | laudantium odio illo est, dolores explicabo obcaecati voluptate
              | libero.
          .aboutPhilo-contentBox-2.border-left
            h3.aboutPhilo-contentBox-title Stuff
            p.aboutPhilo-contentBox-text
              | Lorem ipsum dolor sit amet consectetur adipisicing elit.
              | Consectetur possimus vitae quibusdam illum doloremque cupiditate
              | dicta, quidem dolorem adipisci libero dolorum modi at commodi.
              | Modi exercitationem sapiente officia mollitia at tempore
              | obcaecati, necessitatibus accusamus velit repellendus consequatur
              | unde id quia ipsam repudiandae impedit eveniet molestiae molestias
              | excepturi totam reprehenderit. Tempore.
              br
              br
              | Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              | Temporibus quidem illo nulla non veniam id cum pariatur maxime ut
              | repellat quasi est quas rerum odit cupiditate nesciunt molestias
              | consequatur tempora a beatae, laudantium voluptate. Ad autem totam
              | sequi animi cum ipsa aut dolorum laboriosam amet quaerat,
              | voluptate illo? Nostrum voluptate facere molestiae placeat? Totam
              | nihil illum quibusdam eveniet repellendus, laudantium quidem
              | facilis officiis amet reiciendis porro nisi dignissimos error
              | culpa est eligendi a. Nobis sequi fuga sint ratione dolorum
              | aspernatur adipisci obcaecati doloribus sunt at reiciendis nostrum
              | veritatis perspiciatis qui, mollitia explicabo libero
              | consequuntur? Similique assumenda tempore ipsa iusto repellat.
              br
              br
              | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse
              | asperiores mollitia placeat a accusantium nihil ea dolores nobis
              | expedita molestiae, facilis saepe rerum, molestias incidunt odit
              | sequi fugit ipsum. Cum, amet fugiat?
      section.aboutServices
        img(src='/img/site/logo.png' alt='Nettles Herbs logo' class='aboutServices-img')
        .aboutServices-contentBox
          h2.aboutServices-title Our Treatments and Services
          ul.aboutServices-list
            li.aboutServices-listItem
              svg.about-icon-list
                use(xlink:href='img/site/sprite.svg#icon-pagelines')
              | &nbsp;&nbsp;Custom Herbal Blending -
              small proprietary blends of medicinal herbs
            li.aboutServices-listItem
              svg.about-icon-list
                use(xlink:href='img/site/sprite.svg#icon-pagelines')
              | &nbsp;&nbsp;Yoni Steaming -
              small a healing aid for reproductive health
            li.aboutServices-listItem
              svg.about-icon-list
                use(xlink:href='img/site/sprite.svg#icon-pagelines')
              | &nbsp;&nbsp;Doula Services -
              small a step-by-step guided pregnancy process
            li.aboutServices-listItem
              svg.about-icon-list
                use(xlink:href='img/site/sprite.svg#icon-pagelines')
              | &nbsp;&nbsp;Placenta Encapsulation -
              small utilizing the traditional chinese method
            li.aboutServices-listItem
              svg.about-icon-list
                use(xlink:href='img/site/sprite.svg#icon-pagelines')
              | &nbsp;&nbsp;Belly Binding -
              small practiced for centuries in many cultures
          a.aboutServices-button(href='/products')
            | &#128596; &nbsp; Discover the remedies &rarr;
      section.aboutContact
        .aboutContact-contentBox
          .aboutContact-contentBox-inner
            img.aboutContact-contentBox-img(src='/img/site/icon.png' alt='Nettles Herbs main logo')
            h3.aboutContact-title Let us help!
            p.aboutContact-text
              | Let our experience be your guide to a healthier life.
            a.aboutContact-button(href='products') Start now!
      footer.footerAbout
        img.footer-img-about(src='./img/site/logo.png' alt='Nettles Herbs logo')
        div(class='footer__social-about')
          a(href='#')
            svg.footer-icon-footer
              use(xlink:href='img/site/sprite.svg#icon-facebook')
          a(href='#')
            svg.footer-icon-footer
              use(xlink:href='img/site/sprite.svg#icon-instagram')
          a(href='#')
            svg.footer-icon-footer
              use(xlink:href='img/site/sprite.svg#icon-tiktok')
        div(class='footer__copy-div-about')
          h4(class='footer__copy-about')
            | &#169;2021 Nettles Herb's,&nbsp;
            small
              | All rights reserved
              | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          p.builtBy
            | Website built by:
            a(href='https://github.com/MagentaSpruce') MagentaSpruce
            | 🌴
        div(class='footer__links-about')
          a(href='/home') Home
          a(href='/products') Remedies
          a(href='#top') About
          
          script(src='/js/home.js' defer)
