doctype html
html(lang='en')
  head
    block head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='shortcut icon' href='./img/site/icon.png' type='image/x-icon')
        link(rel='stylesheet' href='/public/css/style.css')
        link(rel='stylesheet' href='/public/css/style2.css')
        
        title Nettles Herbs | #{title}
  body(data-alert=`${alert ? alert : ''}`)
  
    include _header
    block content 
        h1 Hello sour krauts, if you see me there is a problem!!!
    include _footer

    //- script(src='/js/mapbox.js')
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js')
    script(src='/js/bundle.js')
   












//- doctype html 
//- html 
//-     head 
//-         meta(charset='UTF-8')
//-         meta(name='viewport' content='width=device-width, initial-scale=1.0')
//-         title Nettles Herbs | Products page
//-         link(rel='stylesheet' href='css/style.css')
//-         link(rel='stylesheet' href='css/style2.css')
//-         link(rel='shortcut icon' type='image/png' href='img/site/icon.png')

//-     body 
//-         a(name='top')
//-         nav.aboutNav
//-         img.aboutNav-image-overview(src='/public/img/site/icon.png' alt='Nettles Herbs main logo')
//-         h3.aboutNav-header-overview
//-         div.aboutNav-links-overview
//-             ul.aboutNav-list-overview
//-             li.aboutNav-list-item: a(href='index.html') Home
//-             li.aboutNav-list-item: a(href='#') Remedies
//-             li.aboutNav-list-item: a(href='about.html') About

    //- // CONTENT
    //- main.main
    //-     h1= product

    
    //- footer.footerAbout
    //-     img.footer-img-about(src='./img/site/logo.png' alt='')
    //-     div.footer__social-overview
    //-         a(href='#')
    //-           svg.footer-icon-footer
    //-             use(xlink:href='img/site/sprite.svg#icon-facebook')
    //-         a(href='#')
    //-           svg.footer-icon-footer
    //-             use(xlink:href='img/site/sprite.svg#icon-instagram')
    //-         a(href='#')
    //-           svg.footer-icon-footer
    //-             use(xlink:href='img/site/sprite.svg#icon-tiktok')

    //-     div.footer__links-overview
    //-         a(href='index.html') Home
    //-         a(href='#top') Remedies
    //-         a(href='about.html') About us

    
    
        
      
    
       