.card
  .card__header
    .card__picture
      .card__picture-overlay &nbsp;
      img.card__picture-img(src='/public/img/products/product-1-cover.jpg', alt='Tour 1')
    h3.heading-tertirary
      span Anxious Begone

  .card__details
    h4.card__sub-heading Formulated Tincture
    p.card__text Eases the symptoms of anxiety and stress by lowering cortisol production inside the adrenal glands of the nervous system. Also aids in digestion.
    .card__data
      svg.card__icon
        use(xlink:href='/public/img/site/SVG/forrst.svg')
      span Glass Bottle
    .card__data
      svg.card__icon
        use(xlink:href='/public/img/site/SVG/meter2.svg')
      span 2 ml
    .card__data
      svg.card__icon
        use(xlink:href='/public/img/site/SVG/sunset.svg')
      span 4.8
    .card__data
      svg.card__icon
        use(xlink:href='/public/img/site/SVG/information.svg')
      span 15

  .card__footer
    p
      span.card__footer-value $13
      span.card__footer-text per bottle
    p.card__ratings
      span.card__footer-value 4.9
      span.card__footer-text rating (21)
    a.btn.btn--green.btn--small(href='#') Details